@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

.main-nav-logo{
  font-size: 1.3rem;
  margin: 10px 20px;
  font-weight: 800;
}

.mapboxgl-control-container{
  display: none !important;
}

.mapboxgl-canvas-container{
  border-radius: 20px;
  overflow: hidden;
}